<div class="background-opacity">
	<% if @service.photos.attached? %>
	  <% @service.photos.each do |photo| %>
			<div class="service-banner" style="background-image: url('<%= cl_image_path photo.key %>');"><h1><%= @service.title %></h1></div>
		<% end %>
	<% else %>
		<div class="service-banner" style="background-image: url('<%= asset_path 'generic_photo.jpg' %>');"><h1><%= @service.title %></h1></div>
	<% end %>
</div>


<div class="w-75 bg-light p-3" style="margin: 0px auto;">
	<div class="row">
		<div class="col-7">	
			<div class="d-flex flex-column" style="width: 100%">
  		  <div class="d-flex flex-column bg-secondary my-2 p-3">
					<p><strong>Price: £<%= @service.price %>.00/hr</strong></p>
					<p><strong>Category: <%= @service.category %></strong></p>
				</div>
				<div class="bg-secondary my-2 p-3">
					<p><strong>Description:</strong></p>
					<p><%= @service.description %></p>
				</div>
			</div>
		</div>
		<div class="col-5 bg-secondary my-2 p-3">
			<div>
			<%= simple_form_for([@service, @booking]) do |f| %>
				<%= f.input :deadline, html5: true, label: "Project Deadline" %>
			  <%= f.submit class: "btn btn-dark" %>
			<% end %>
		</div>
	</div>
</div>



<%= link_to 'Edit', edit_service_path(@service) %>
<%= link_to 'Delete', @service, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'List', services_path %>
