<div class="w-75 bg-light py-5 px-3" style="margin: 0 auto">
  <div class="row justify-content-center">
    <div class="col-xs-8 col-lg-6 bg-white p-3 border border-dark-shadow rounded">
      <div class="row justify-content-center">
        <div class="col-9 p-3">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%= f.input :first_name,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "first-name"} %>
              <%= f.input :last_name,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "last-name"} %>
              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :photos, 
                          as: :file, 
                          input_html: { multiple: false } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Update", class: "btn btn-dark my-3" %>
            </div>
          <% end %>

          <div class="col-9 pl-0 pb-1"><%= link_to "Back", :back %></div>

          <div class="col-9 pl-0 py-2">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
        </div>
      </div>
    </div>
  </div>
</div>
