<div class="container">
  <div class="booking-information">
    <div class="booking-basics">
      <%= @booking.service.title %>
      <%= @booking.service.description %>
      <%= @booking.service.price %>
      <%= @booking.date %>
      <%= @booking.deadline %>
      <% if @booking.status == "Accept" %>
      <p>Accepted</p>
      <% elsif @booking.status == "Decline" %>
      <p>Declined</p>
      <% else %>
      <p>Pending</p>
      <% end %>

    </div>
    <div class="booking-actions">
      <%= link_to "Edit", edit_booking_path %>
      <%= link_to "Back to bookings", bookings_path %>
    </div>
  </div>
</div>
