<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 20%;">Name</th>
      <th scope="col" style="width: 40%;">Project</th>
      <th scope="col" style="width: 20%;">Status</th>
      <th scope="col" style="width: 20%;">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.each do |booking| %>
      <tr data-toggle="collapse" href=<%="#multiCollapseExample#{booking.id}" %> role="button" aria-expanded="false" aria-controls=<%="multiCollapseExample#{booking.id}"%> >
        <td><%= "#{booking.user.first_name} #{booking.user.last_name}" %></td> 
        <td><%= booking.service.title %></td>
        <td><%= booking.status %></td>
        <td><%= booking.deadline %></td>
      </tr>
      <tr>
        <td colspan="4" class="collapse multi-collapse" id=<%="multiCollapseExample#{booking.id}"%>>
          <div>
            <div class="booking-information bg-light">
              <div class="booking-basics">
                <p><strong>Description: </strong><%= booking.service.description %></p>
                <p><strong>Price: </strong>£<%= booking.service.price %>.00/hr</p>
                <p><strong>Date booked: </strong><%= booking.date %></p>
                <% if booking.status == "Accept" %>
                  <p><strong>Status: </strong>Accepted</p>
                <% elsif booking.status == "Decline" %>
                  <p><strong>Status: </strong>Declined</p>
                <% else %>
                  <p><strong>Status: </strong>Pending</p>
                <% end %>
              </div>
              <div class="booking-actions">
              <% if booking.user == current_user %> 
                <% if booking.status == "Decline" %>
                <% else %>
                  <%= link_to "Cancel", cancel_booking_path(booking), method: :patch, class: "btn btn-danger", remote: true %>
                <% end %>
              <% elsif booking.service.user == current_user %>
                  <div>
                    <% if booking.status == "Pending" %>
                      <div class="d-flex justify-content-between">
                        <div>
                          <%= link_to "Cancel", cancel_booking_path(booking), method: :patch, class: "btn btn-danger", remote: true %>
                          <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "btn btn-success", remote: true %>
                        </div>
                        <div>
                          <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-dark" %>
                        </div>
                      </div>
                    <% elsif booking.status == "Accept" %>
                      <div class="d-flex justify-content-between">
                        <div>
                          <%= link_to "Cancel", cancel_booking_path(booking), method: :patch, class: "btn btn-danger", remote: true %>
                        </div>
                        <div>
                          <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-dark" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
              <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
