<div class="container">
  <div class="services-banner">
    <div class="container">
      <h1>Profile</h1>
    </div>
  </div>

  <div class="container mt-3">
    <h1>My services</h1>
    <div class="container">
      <div class="cards">
        <% services.each do |service| %>
          <%= link_to service_path(service) do %>
            <%= render "shared/card_service", service: service %>
          <% end %>
        <% end %>
        <%= link_to new_service_path do %>
          <%= render "shared/card_add" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <h1>My bookings</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Project</th>
        <th scope="col">Status</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |booking| %>
        <tr>
          <td><%= link_to booking.user.email, booking_path(booking) %></td>
          <td><%= booking.service.title %></td>
          <td><%= booking.status %></td>
          <td><%= booking.deadline %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>



