<div class="services-banner">
  <div class="container">
    <h1>Profile</h1>
  </div>
</div>
<div class="container">

  <div class="container mt-3">
    <h1>My services</h1>
      <div class="cards">
        <% services.each do |service| %>
          <%= link_to service_path(service) do %>
            <%= render "shared/card_service", service: service %>
          <% end %>
        <% end %>
        <%= link_to new_service_path do %>
          <%= render "shared/card_add" %>
        <% end %>
      </div>
  </div>

  <div class="container mt-3">
    <h1>Upcoming Bookings</h1>
    <div style="margin: 10px auto; overflow-y: scroll; height: 290px;">
      <%= render "shared/table", bookings: bookings %>
    </div>
  </div>
</div>



